{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">

<body>
    <div class="App">
        <header class="App-header">
            <img src="{% static 'Octocat.png' %}" class="App-logo" alt="logo" />
            <p>
                GitHub Codespaces <span class="heart">♥️</span> Django
            </p>
            <p class="small">
                Edit <code>config/templates/index.html</code> and see changes live!
            </p>
            <p>
                {% comment %} `request.user` is `AnonymousUser`, as expected. {% endcomment %}
                {{ request.user }}
            </p>
            <p>
                <a
                    href="https://github.com/brucestull/animated-palm-tree"
                    target="_blank"
                    >
                    <code>animated-palm-tree</code> Repository
                </a>
            </p>
        </header>
    </div>
</body>

</html>
